<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Profile</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h3 class="mt-5">Profile</h3>
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data" th:action="@{/update_user_profile_picture}">
                <table>
                    <tr>
                        <td><img alt="Image" th:src="@{get_user_profile_picture}" width="250" height="250"/></td>
                    </tr>
                    <tr>
                        <td>Update picture:</td>
                    </tr>
                    <tr>
                        <td><input type="file" name="file"/></td>
                        <td><input type="submit" value="Upload"/></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-md-6">
            <form th:action="@{/update_user_profile_details}" method="post">
                <div class="form-group">
                    <label for="username">Username</label>:
                    <input type="text"
                           id="username"
                           name="username"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="Username"
                           autocomplete="username"
                           th:value="${username}"
                           disabled>

                </div>
                <div class="form-group">
                    <label for="password">Password</label>:
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           placeholder="Change password"
                           autocomplete="new-password">
                </div>
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit"
                               name="edit-profile-submit"
                               id="edit-profile-submit"
                               class="form-control btn btn-info"
                               value="Update">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <p><a href="/" th:href="@{/}">Back to home page</a></p>
</div>
</body>
</html>