<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<th:block th:fragment="footer">
    <footer class="footer">
        <div class="container">
            <span sec:authorize="!isAuthenticated()">Sign in to see some things!</span>
            <span sec:authorize="isAuthenticated()">
                You are signed in as <span sec:authentication="name"></span>. | <a
                    th:href="@{/logout}">Sign Out</a></span>
        </div>
    </footer>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/1.14.6/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</th:block>
</body>
</html>