<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}"/>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1 class="mt-5">Oh no!</h1>
    <h3>How embarrassing, something did not do the right thing...</h3>
    <p>You should probably just go back to the <a href="/" th:href="@{/}">home page</a></p>
</div>
</body>
</html>
