<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Sign up</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="row">
        <div class="col-md-6">
            <h3 class="mt-5">Sign up</h3>
            <form th:action="@{/register}" method="post">
                <div class="form-group">
                    <label for="username">Username</label>:
                    <input type="text"
                           id="username"
                           name="username"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="Username"
                           autocomplete="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>:
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           placeholder="Password"
                           autocomplete="new-password">
                </div>
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit"
                               name="register-submit"
                               id="register-submit"
                               class="form-control btn btn-info"
                               value="Sign up">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <p><a href="/" th:href="@{/}">Back to home page</a></p>
</div>
</body>
</html>