<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Register</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h3 class="mt-5">Sign up</h3>
    <form th:action="@{/register}" method="post">
        <div class="form-group">
            <label for="username">Username</label>:
            <input type="text"
                   id="username"
                   name="username"
                   class="form-control"
                   autofocus="autofocus"
                   placeholder="Username"
                   autocomplete="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>:
            <input type="password"
                   id="password"
                   name="password"
                   class="form-control"
                   placeholder="Password"
                   autocomplete="new-password">
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit"
                       name="register-submit"
                       id="register-submit"
                       class="form-control btn btn-info"
                       value="Submit">
                <!--TODO-->
            </div>
        </div>
    </form>
</div>
</body>
</html>